@model List<EquipType>
<h1>Category Editor</h1>

<br />

    <!-- <select id="typeDropdown">
        <option value=""></option>
        foreach (EquipType et in Model)
        {
        <option value="item.Item1.Replace(" ", "")">item.Item1</option>
        }
        <script>$('#typeDropdown').on('input', function () {
        var key = $(this).val();
        if (key === '') {
            $('.nameDropdown').hide();
        } else {
            $('.nameDropdown').hide();
            $('#' + key).show();

        }

    })</script>
</select>-->
<div id="categoryTable"></div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Category/GetCategory',
            type: 'get',
            data: {
                catId: '@TempData["CurCategory"]'
            },
            dataType: 'json',
            success: function (data) {
                var table = $('<table></table>');
                table.append($('<tr><th>Category: ' + data.name + '</th></tr>'));
                for (var i = 0; i < data.equipTypes.length; i++) {
                    var row = $('<tr><td>' + data.equipTypes[i].name + '</td></tr>');
                    table.append(row);
                }
                $('#categoryTable').html(table);

            }
        });
    });
</script>

<br />

    <form id="addToCatform" class="nameDropdown" method="post" action="AddToCategory">
        <input type="hidden" name="catId" value="@TempData["CurCategory"]">
        <select name="equipId">
            <option value=""></option>
            @foreach (EquipType et in Model)
            {
                <option value="@et.Id">@et.name</option>
            }
        </select>
    
        <input type="submit" value="Add To Category"></input>
    </form>

<script>
    
    $('.nameDropdown').on('input', function () {
        var key = $(this).val();
        if (key == '') {
            $('#submitButton').hide();
        } else {
            $('#submitButton').show();
        }
    })
</script>
