@model List<EquipType>
<h1>Category Editor</h1>

<br />

    <!-- <select id="typeDropdown">
        <option value=""></option>
        foreach (EquipType et in Model)
        {
        <option value="item.Item1.Replace(" ", "")">item.Item1</option>
        }
        <script>$('#typeDropdown').on('input', function () {
        var key = $(this).val();
        if (key === '') {
            $('.nameDropdown').hide();
        } else {
            $('.nameDropdown').hide();
            $('#' + key).show();

        }

    })</script>
</select>-->
<partial name="/Views/Fragments/category_index_button.cshtml" />

<partial name="/Views/Fragments/displaycategory.cshtml" />

<br />

    <form id="addToCatform" class="nameDropdown" method="post" action="AddToCategory">
        <input type="hidden" name="catId" value="@TempData["CurCategory"]">
        <select name="equipId">
            <option value=""></option>
            @foreach (EquipType et in Model)
            {
                <option value="@et.Id">@et.name</option>
            }
        </select>
    
        <input type="submit" value="Add To Category"></input>
    </form>

<script>
    
    $('.nameDropdown').on('input', function () {
        var key = $(this).val();
        if (key == '') {
            $('#submitButton').hide();
        } else {
            $('#submitButton').show();
        }
    })
</script>
