@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Loss Map";
}
<head>
    <link rel="stylesheet" href="stylesheet.css">
    
</head>

<div id="mapid" style="height: 600px;"></div>