<div id="graphselector">
<form name="graph_month" id="graph_month" action="graph_month" method="get">
    <label for="date">Month:</label>
    <input type="month" id="month" name="month" min="2022-02" value="2024-01" />
    <select name="avg" id="avg">
        <option value="1">Raw Data</option>
        <option value="7">7-day average</option>
        <option value="14">14-day average</option>
        <option value="30">30-day average</option>
    </select>
    <input type="submit" value="Load Graph" />
</form>
</div>